* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.button {
    color: #FFFFFF;
    width: 270px;
    height: 58px;
    cursor: pointer;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}