* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.button {
    color: #FFFFFF;
    width: 270px;
    height: 58px;
    cursor: pointer;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background: transparent;
    border: 2px solid #FFFFFF;
}


/* .download-button {
    background: transparent;
    border: 2px solid #FFFFFF;
} */

.introduction {
    text-align: center;
    margin-bottom: 80px;
    padding-top: 50px;
}

.introduction__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    height: 150px;
    padding: 57px 0;
    margin-top: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.introduction__title::after {
    content: '';
    background-color: #FFFFFF;
    height: 1px;
    display: block;
    width: 170px;
    margin: 52px auto 0;
}

.introduction__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 40px 0 0 0;
}