* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: min(100% - 110px, 1170px);
    margin: auto;
}

.download-button {
    color: #FFFFFF;
    width: 270px;
    height: 58px;
    cursor: pointer;
    font-family: 'OpenSans-600, sans-serif';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #FFFFFF;
}

.download-button_transparent {
    background: transparent;
}

.download-button_transparent:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.download-button_transparent:active {
    color: #FFFFFF;
    background: #AB4949;
}

.introduction {
    text-align: center;
    padding: 50px 0 80px 0;
}

.introduction__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    height: 150px;
    padding: 57px 0;
    text-transform: uppercase;
}

.introduction__title::after {
    content: '';
    background-color: #EC7979;
    height: 1px;
    display: block;
    width: 170px;
    margin: 52px auto 0;
}

.introduction__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin: 40px 0 0 0;
}

@media screen and (max-width: 992px) {
    .introduction__title {
        font-size: 24px;
        line-height: 29px;
    }
    .introduction__subtitle {
        font-size: 14px;
        line-height: 17px;
    }
    .introduction__title::after {
        width: 142px;
    }
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 768px) {
    .introduction {
        text-align: center;
        padding: 0 0 24px 0;
    }
}

@media screen and (max-width: 576px) {}