.footer {
    background-color: #000000;
}

.footer-container {
    display: grid;
    row-gap: 30px;
    padding: 35px 0 27px 0;
}

.footer__social-media-icons__wrapper {
    display: grid;
    grid-template-columns: repeat(7, minmax(26px, 53px));
    grid-column-gap: 32px;
    margin: auto;
}

.footer img {
    width: 53px;
    height: 53px;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    font-size: 18px;
    line-height: 21px;
}

@media screen and (max-width: 992px) {
    footer p {
        font-size: 14px;
        line-height: 17px;
    }
    .footer img {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 600px) {
    .footer img {
        width: 26px;
        height: 26px;
    }
    .footer__social-media-icons__wrapper {
        display: grid;
        grid-template-columns: repeat(7, minmax(26px, 53px));
        grid-column-gap: 2%;
        margin: auto;
    }
    .footer__social-media-icons__wrapper a {
        margin: auto;
    }
}