.header {
    background-color: #000000;
    width: 100%;
}

.header__container {
    display: grid;
    grid-template-columns: 85px auto;
    grid-column-gap: 42%;
}

.header__logo-link {
    padding: 20px 0;
}

.header__nav-list__item {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
}

.nav-list__item__link {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    font-family: 'OpenSans-600', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 76px;
}

.nav-list__item__link:hover {
    background-color: #EC7979;
}

.nav-list__item__link:active {
    background-color: #AB4949;
}

#menu__toggle {
    display: none;
    ;
}

@media screen and (max-width: 768px) {
    .header__container {
        display: grid;
        grid-template-columns: 85px auto;
        grid-column-gap: 21%;
    }
}

@media screen and (max-width: 600px) {
    .header__nav-list__item {
        display: none;
    }
    .header__nav-list__item {
        visibility: hidden;
    }
    .header__container {
        display: block;
    }
    .header__logo-link {
        display: block;
        padding: 0;
        padding: 20px 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 60px;
        width: 36px;
        height: 36px;
        cursor: pointer;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #FFFFFF;
    }
    .menu__btn>span::before {
        content: '';
        top: -13px;
    }
    .menu__btn>span::after {
        content: '';
        top: 13px;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.header__nav-list__item {
        display: block;
        visibility: visible;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        transition: .25s;
    }
    .header__nav-list__item {
        transition: .25s;
    }
    .nav-list__item {
        transition: .25s;
    }
}