.tabs {
    margin-top: 99px;
}

.tabs__block {
    display: none;
    grid-template-areas: "h3 img" "p img" "button img";
    grid-auto-rows: 124px 210px auto;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 30px;
    row-gap: 27px;
    border: 1px solid rgb(198, 203, 205);
    padding-left: 99px;
}

.tabs__block h3 {
    font-family: 'OpenSans-700', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding: 46px 0;
    grid-area: h3;
}

.tabs__block p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    overflow: auto;
    grid-area: p;
}

.tabs__block img {
    width: 470px;
    height: 500px;
    grid-area: img;
}

.download-button_red {
    background-color: #EC7979;
    border: none;
    grid-area: button;
}

.download-button_red:hover {
    background-color: #AB4949;
}

.download-button_red:active {
    border: 2px solid #EC7979;
}

.tabs input {
    display: none;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: grid;
}

.tabs label {
    display: inline-block;
    text-align: center;
    width: 203px;
    padding: 13px 0;
    position: relative;
    top: 1px;
    font-family: 'OpenSans-400', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    cursor: pointer;
    color: #333333;
}

.tabs input:checked+label {
    border-top: 1px solid rgb(198, 203, 205);
    border-right: 1px solid rgb(198, 203, 205);
    border-bottom: 1px solid #fff;
    border-left: 1px solid rgb(198, 203, 205);
    border-radius: 5px 5px 0px 0px;
}

@media screen and (max-width: 992px) {
    .tabs label {
        width: 156px;
        line-height: 12px;
    }
    .tabs__block {
        grid-template-areas: "h3" "p" "img" "button";
        grid-auto-rows: 95px auto auto auto;
        row-gap: 27px;
        border: 1px solid rgb(198, 203, 205);
        padding: 50px;
        grid-column-gap: 0;
    }
    .tabs__block img {
        width: 100%;
        height: 100%;
    }
    .tabs__block p {
        font-size: 14px;
        line-height: 16px;
    }
    .tabs__block h3 {
        font-size: 24px;
        line-height: 33px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {
    .tabs__block img {
        display: none;
    }
    .tabs__block {
        grid-template-areas: "h3" "p" "button";
        grid-auto-rows: 95px auto auto;
        row-gap: 27px;
        border: 1px solid rgb(198, 203, 205);
        padding: 30px;
        grid-column-gap: 0;
    }
    .tabs label {
        width: calc(100%/3 - 3px);
        line-height: 12px;
    }
    .tabs__block p {
        overflow: auto;
    }
    .download-button_red {
        width: 100%;
    }
    .tabs__block h3 {
        padding: 0;
        line-height: 95px;
    }
}