.main__social__wrapper {
    display: grid;
    grid-template-columns: 41% 58%;
    grid-column-gap: 30px;
}

.main__social-icons__wrapper {
    display: grid;
    grid-template-columns: repeat(7, auto);
    align-self: center;
}

.main__social {
    background-color: #F8EFEF;
}

.main__social-title__title {
    font-family: 'OpenSans-700', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    padding: 14px 0;
}

.main__social-subtitle__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin: 18px 0;
}

@media screen and (max-width: 992px) {
    .main__social-icons__wrapper img {
        transform: scale(0.9);
    }
    .main__social__wrapper {
        display: block;
    }
    .main__social-title__title {
        font-size: 18px;
        line-height: 25px;
    }
    .main__social-subtitle__subtitle {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {
    .main__social-icons__wrapper img {
        width: 26px;
        height: 26px;
    }
}