.main__pricing {
    background-color: #F5F5F5;
    padding-top: 50px;
}

.main__pricing-introduction {
    text-align: center;
    margin-bottom: 79px;
}

.main__pricing-introduction__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    height: 150px;
    padding: 57px 0;
    text-transform: uppercase;
}

.main__pricing-introduction__title::after {
    content: '';
    background-color: #EC7979;
    height: 1px;
    display: block;
    width: 170px;
    margin: 52px auto 0;
}

.main__pricing-introduction__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin: 40px 0 0 0;
}

.main__pricing-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-column-gap: 30px;
    padding-bottom: 50px;
}

.main__pricing-card {
    text-align: center;
    transition: 0.3s;
}

.main__pricing-card:hover {
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    transform: translate(0, -20px);
}

.main__pricing-card__head {
    background-color: rgba(51, 51, 51, 1);
    border-bottom: 2px solid #ffff;
}

.main__pricing-card__head:nth-child(3) {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: none;
    padding: 16px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.main__pricing-card__name {
    font-weight: 700;
    font-family: 'OpenSans-700', sans-serif;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    padding: 18px 0;
}

.main__pricing-card__price {
    font-family: 'Raleway-700', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 1);
    padding: 32px 0;
}

.main__pricing-card__body-item {
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    padding: 16px 0;
    border-bottom: 2px solid rgba(245, 245, 245, 1);
}

.main__pricing-card__body-item:last-child {
    border-bottom: none;
}