.reviews-block {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 30px;
    margin-bottom: 57px;
}

.card__review {
    background-color: #E2E2E2;
    padding: 38px 30px;
    border-radius: 10px;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    height: 181px;
    overflow: auto;
}

.card__person {
    display: grid;
    grid-template-areas: "img name" "img job-title";
    margin-top: 66px;
    max-width: 70%;
}

.reviews-block__card::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: #E2E2E2 transparent transparent transparent;
    position: relative;
    left: 70px;
    top: -137px;
}

.card__person img {
    grid-area: img;
}

.card__person-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    white-space: nowrap;
    grid-area: name;
}

.card__person-job__title {
    font-size: 18px;
    line-height: 21px;
    grid-area: job-title;
}

input[name="reviews-btn"] {
    display: none;
}

@media screen and (max-width: 992px) {
    .card__review {
        font-size: 14px;
        line-height: 17px;
    }
    .card__person-name {
        font-size: 18px;
        line-height: 25px;
    }
    .card__person-job__title {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 768px) {
    .reviews label {
        display: inline;
        margin-right: 50px;
    }
    #reviews-btn-1:checked~#reviews-block-card-1,
    #reviews-btn-2:checked~#reviews-block-card-2,
    #reviews-btn-3:checked~#reviews-block-card-3 {
        display: block;
    }
    .reviews label {
        position: relative;
        left: calc(50% - (144px/2));
        top: 350px;
    }
    .reviews label::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #333;
        border-radius: 50%;
    }
    .reviews-block {
        display: block;
    }
    .reviews-block__card {
        display: none;
        max-width: 100%;
        margin: auto;
    }
}