.reviews-block {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 30px;
    margin-bottom: 57px;
}

.card__review {
    background-color: #E2E2E2;
    padding: 38px 30px;
    border-radius: 10px;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    height: 181px;
}

.card__review::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: #E2E2E2 transparent transparent transparent;
    position: absolute;
    left: 70px;
    top: 172px;
}

.card__person {
    display: grid;
    grid-template-areas: "img name" "img job-title";
    margin-top: 66px;
}

.card__person>img {
    grid-area: img;
}

.card__person-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    grid-area: name;
}

.card__person-job__title {
    font-size: 18px;
    line-height: 21px;
    grid-area: job-title;
}