.tabs {
    margin-top: 93px;
}

.tabs__block {
    /* display: grid; */
    display: none;
    grid-template-areas: "h3 img" "p img" "button img";
    grid-auto-rows: 124px 210px auto;
    grid-template-columns: 570px 470px;
    grid-column-gap: 30px;
    row-gap: 27px;
    border: 1px solid rgba(198, 203, 205, 1);
    padding-left: 100px;
}

.tabs__block h3 {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding: 46px 0;
    grid-area: h3;
}

.tabs__block p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    grid-area: p;
}

.tabs__block img {
    grid-area: img;
    width: 470px;
    height: 500px;
}

.tabs__download-button {
    background-color: #EC7979;
    border: none;
    grid-area: button;
}

.tabs input {
    display: none;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: grid;
}

.tabs label {
    display: inline-block;
    text-align: center;
    width: 203px;
    padding: 13px 0;
    position: relative;
    top: 1px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    cursor: pointer;
    color: #333333;
}

.tabs input:checked+label {
    border-top: 1px solid rgba(198, 203, 205, 1);
    border-right: 1px solid rgba(198, 203, 205, 1);
    border-bottom: 1px solid #fff;
    border-left: 1px solid rgba(198, 203, 205, 1);
    border-radius: 5px 5px 0px 0px;
}