.poster {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/section-poster-icons/poster.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 492px;
}