* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.tab-wrapper {
    margin-top: 93px;
}

.tab-block {
    display: grid;
    grid-template-areas: "h3 img" "h5 img" "button img";
    grid-auto-rows: 124px 210px auto;
    grid-template-columns: 570px 470px;
    grid-column-gap: 30px;
    row-gap: 27px;
    border: 1px solid rgba(198, 203, 205, 1);
    padding-left: 100px;
}

.tab-block h3 {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding: 46px 0;
    grid-area: h3;
}

.tab-block h5 {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    grid-area: h5;
}

.tab-block img {
    grid-area: img;
}

.download-button {
    background-color: #EC7979;
    color: #FFFFFF;
    border: none;
    width: 270px;
    height: 58px;
    cursor: pointer;
    grid-area: button;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}


/* Introduction block*/

.main__about-introduction {
    text-align: center;
    margin-bottom: 71px;
}


/* Title of the introduction */

.main__about-introduction h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    height: 150px;
    padding: 57px 0;
}

.separator {
    border-bottom: 1px solid #EC7979;
    width: 170px;
    margin: auto;
}


/* Additional text of the introduction*/

.main__about-introduction h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin: 40px 0 0 0;
}


/* Grid of cards */

.main__about-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    /* grid-auto-rows: 383px;  */
    grid-column-gap: 30px;
    margin-bottom: 58px;
}


/* Icons inside of the cards */

.main__about-wrapper img {
    width: 170px;
    height: 170px;
}


/* Card */

.main__about-card {
    text-align: center;
}


/* Title of the cards */

.main__about-card h4 {
    font-weight: 700;
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 8px;
    padding: 38px 0;
}


/* Main text of the cards */

.main__about-card h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1)
}